# code analysis for SRC only
root = false

[*.cs]

# Allow singular 'using' directive
dotnet_style_namespace_match_folder = false:none

# Maintainability rules (enabled)
dotnet_diagnostic.CA1501.severity  = warning     # Avoid excessive inheritance
dotnet_diagnostic.CA1502.severity  = suggestion  # Avoid excessive complexity
dotnet_diagnostic.CS1591.severity  = suggestion  # Missing XML comment for public members
